/* Body styling */

html {
    scroll-behavior: smooth; /* Enable smooth scroll when ported to an element */
}

* {
    user-select: text; /* Able to highlight the text */
    caret-color: transparent; /* Hide blinking caret */
    font-size: 16px; /* Default font-size: 16px; */
}

body {
    display: grid;
    grid-template-rows: auto 10fr auto auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    background-color: #F8F7F3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    scroll-margin-top: 60px; /* For scroll pos offset (navbar height) */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
}

main {
    margin-top: 60px;
    /*padding-top: 60px;*/
    background-color: green;
}

footer {
    background-color: indianred;
}