/* Body styling */

* {
    -webkit-user-select: text; /* Safari support */
    user-select: text; /* Able to highlight the text */
    caret-color: transparent; /* Hide blinking caret */
    font-size: 16px; /* Default font-size: 16px; */

    /* Debugging outline */
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth; /* Enable smooth scroll when transported to an element */
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
}

body {
    display: grid;
    grid-template-rows: auto 10fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F7F3;
}

section {
    scroll-margin-top: 60px; /* For scroll pos offset (navbar height) */
}

header {
    position: fixed; /* Cant choose whether fixed or sticky */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /*background-color: #000;*/
}

main {
    overflow-x: hidden;

    /* Draw background grids with SVG */
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><path d='M0 0H50V50H0z' fill='none' stroke='%23d6d6d6' stroke-width='2' stroke-linecap='square'/></svg>") repeat fixed;
}

footer {
    color: #000000;
    text-align: center;
    width: 100%;
    padding: 0 0 00px; /* Bottom footer padding height */
}