/* Header div (navbar) styling */

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    height: 100%;
}

header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    height: 100%
}

header li a:hover {
    background-color: white;
    color: black;
}

header nav {
    display: flex;
    justify-content: center; /* Determine navbar 's position*/
    align-items: center;
    height: 60px;
}

header nav a {
    font-family: 'SFMono', serif;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    display: block;
}