#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(107, 184, 215, 0.6), rgba(107, 184, 215, 0));
}

details {
    margin-top: 10px;
    cursor: pointer;
}

h1 {
    font-family: 'Bai Jamjuree', serif;
    font-size: clamp(3.5em, 6vw, 7vw);
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

/* Background images div */
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

/* AKJABSKJBAJDB */
#hero > p {
    font-family: 'SFMono', serif;
    font-size: 1em;
    margin: 0;
}