/* Main div sections */

.section-header {
    /*display: inline;*/
    font-family: 'Bai Jamjuree', serif;
    font-size: 2rem;
    background-color: #ada589;
    align-content: center;
    text-align: center;
}

#hero {
    height: calc(100vh - 60px - 20px);
    background-color: lightblue;
}

#about {

}