/* Main div sections */

.section-header {
    display: block;
    font-family: 'SFMono', serif;
    font-size: 3rem;
    font-weight: 200;
    /*background-color: #ada589;*/
    align-content: center;
    text-align: center;
    border-top: #000000 6px dashed;
    border-bottom: #000000 6px dashed;
}

#hero {
    padding-top: 0;
    height: calc(100vh - 60px);
    background-color: lightblue;
}

#about {

}

#devlogs {

}

.main-p {
    font-family: 'SFMono', serif;
    font-size: 1.5em;
    max-width: 80%;
    margin: 0 auto 16px auto;
    padding: 0 20px;
}

#devlogs .main-p:last-child {
    margin-bottom: 45px; /* Set distance from footer */
    text-align: center;
}

.main-p a {
    color: #00248d;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.main-ul {
    font-family: 'SFMono', serif;
    max-width: 80%;
    margin: 0 auto 24px auto;
    padding: 0 20px;
    list-style-position: inside;
}

.main-ul li {
    font-size: 1.3em;
    margin-bottom: 16px;
    text-indent: -1.3em;
    padding-left: 1.2em;
}

.main-ul li strong {
    font-size: 1.15em;
}

i {
    font-size: 35px;
}
