h1 {
    font-family: 'Bai Jamjuree', serif;
    text-align: center;
    font-size: 5em;
    /*background-color: #00ffff;*/
}

p {
    font-family: 'SFMono', serif;
    font-size: 1.5em;
    align-content: center;
    /*text-align: center;*/
    width: 50%;
    /*max-width: 100vw;*/
}