h1 {
    font-family: 'Bai Jamjuree', serif;
    text-align: center;
    /*background-color: #00ffff;*/
}

p {
    font-family: 'SFMono', serif;
    width: 500px;
    align-content: center;
    /*text-align: center;*/
}

.section-header {
    /*display: inline;*/
    font-family: 'Bai Jamjuree', serif;
    background-color: #ada589;
    align-content: center;
    text-align: center;
}