h1 {
    font-family: 'Bai Jamjuree', serif;
    text-align: center;
    /*background-color: #00ffff;*/
}

p {
    font-family: 'SFMono', serif;
    align-content: center;
    /*text-align: center;*/
}